html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: 'Lora', serif;
    margin-top: 50px;
    text-align: center;
    color: #635536;
    
}

#name {
    color: #49412e;
    font-family: 'Lora', serif;
    margin: 50px 0 0 0 ;
    padding: 50px;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    background-size: cover;
    background-image: url(https://res.cloudinary.com/dnxx8igwb/image/upload/v1583797677/succulents_ib3xsq.jpg);
}

.match {
margin-top: 20px;
margin-bottom: 20px;
margin-left: auto;
margin-right: 50px;
background-color: #e1ddd6;
opacity: 0.55;
width: 100%;
height: 300px;
border: 1px solid #635536;
display: flex;
align-items: center;
flex-direction: column;
font-family: "lora", sans-serif;
padding-left: 65px;
} 

#about {
    font-family: 'Lora', serif;
    margin-top: 50px;
    text-align: center;
    color: #635536;
}

.projects {
    font-family: 'Lora', serif;
    margin-top: 50px;
    text-align: center;
    color: #635536;
}

.projects {display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    font-family: 'Lora', serif;
    margin-top: 50px;
    text-align: center;
    color: #635536;
}

@media (min-width: 600px) {
.projects {
    flex-wrap: wrap;
}
}

/* .card-content p {
  margin-top: 3%;
  text-align: center;
  
} */

.card {
  margin: 4% 2%;
  width: 298.2px;
  height: 434px;
  align-items: center;
  position: relative;
  border: 1px solid #635536;
  border-radius: 5px;
}

.cardBackground {
  background-size: cover;
  border-radius: 5px;
  height: 196px;
  width: 298px;
}

.card-body {
  position: absolute;
  bottom: 30px;
  padding: 10px ;
   color: #49412e;
}

.card-title {
  font-size:20px;
}

.card-text{
  font-size: 18px;
}

a {
  background-color: #49412e;
  color: #FFFFFF;
  border: none;
  margin: 1% 0;
  align-self: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.live-link:hover, .github-link:hover {
  background-color: #CBD5CD;
  color: #000000;
  border: 1px solid black;
}


#skills {
    font-family: 'Lora', serif;
    margin-top: 50px;
    text-align: center;
    color: #635536;
}

.skill-name{
    margin-top: 15px;
    font-weight: 900;
    color: #635536;
    font-family: 'Lora', serif;
    font-size: 17.5px;
}

#javascript {
    width: 16%;
    margin-top: 5px;
  }

  #htmlicon {
    width: 19%;
  }

  #github {
    padding-top: 10px;
    width: 30%;
  }

  #git {
    padding-top: 35px;
    width: 20%;
    }

    #css6 {
        width: 14%;
        }

        #bootstrap {
            width: 20%;
        }

        #responsive {
            width: 30%;
        }

        #jquery {
            width: 20%;
        }

#resume {
    font-family: 'Lora', serif;
    margin-top: 50px;
    height: 100px;
    text-align: center;
    color: #635536;
    background-color: #c8c78c;
}

#contact {
    display: inline;
    font-family: 'Lora', serif;
    margin-top: 20px;
    text-align: center;
    color: #635536;
    height: 150px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  input[type=submit] {
    background-color: #49412e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }


footer {
    background-color: #4C6F51;
    color: #D2DBBE;
    text-align: center;
    font-family: 'Lora', serif;
}